fastapi
uvicorn[standard]==0.24.0
pymongo==4.5.0
pymilvus
python-multipart==0.0.6
transformers
torch
torchvision
sentence-transformers
python-dotenv==1.0.0
numpy
huggingface-hub==0.21.0
marshmallow==3.20.1
qwen-tokenizer
grpcio>=1.59.0
accelerate
langchain
pydantic